<p>projects works!</p>
<section class="section">
    <h2 class="section__h2">MY PROJECTS</h2>
    <div class="section__container">
        <div class="projects__content">
            <div class="projects__div">
                <h3 class="projects__h3">BOLOCAS</h3>
                <p class="projects__p">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deserunt sit nobis nulla voluptas odio dolor veniam culpa expedita atque provident.</p>
            </div>
            <div class="project__div">
                <a href="" class="projects__a">
                    IMAGEN DE PRROYECTO
                    <img src="" alt="" class="content__img">
                </a>
            </div>
        </div>
        <div class="projects__content">
            <div class="projects__div">
                <h3 class="projects__h3">BOLOCAS</h3>
                <p class="projects__p">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deserunt sit nobis nulla voluptas odio dolor veniam culpa expedita atque provident.</p>
            </div>
            <div class="project__div">
                <a href="" class="projects__a">
                    IMAGEN DE PROYECTO
                    <img src="" alt="" class="content__img">
                </a>
            </div>
        </div>
        <div class="projects__content">
            <div class="projects__div">
                <h3 class="projects__h3">BOLOCAS</h3>
                <p class="projects__p">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deserunt sit nobis nulla voluptas odio dolor veniam culpa expedita atque provident.</p>
            </div>
            <div class="project__div">
                <a href="" class="projects__a">
                    IMAGEN DE PRROYECTO
                    <img src="" alt="" class="content__img">
                </a>
            </div>
        </div>
        <div class="projects__content">
            <div class="projects__div">
                <h3 class="projects__h3">BOLOCAS</h3>
                <p class="projects__p">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deserunt sit nobis nulla voluptas odio dolor veniam culpa expedita atque provident.</p>
            </div>
            <div class="project__div">
                <a href="" class="projects__a">
                    IMAGEN DE PROYECTO
                    <img src="" alt="" class="content__img">
                </a>
            </div>
        </div>
        <div class="projects__content">
            <div class="projects__div">
                <h3 class="projects__h3">BOLOCAS</h3>
                <p class="projects__p">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deserunt sit nobis nulla voluptas odio dolor veniam culpa expedita atque provident.</p>
            </div>
            <div class="project__div">
                <a href="" class="projects__a">
                    IMAGEN DE PRROYECTO
                    <img src="" alt="" class="content__img">
                </a>
            </div>
        </div>
    </div>
</section>