@mixin strong($family:var(--tipo-principal) ,$size:var(--fontsize-p), $weight:var(--fontweight-strong)){
    font-family: $family;
    font-size: $size;
    font-weight: $weight;
    color:var(--grey);
}


@mixin h1($family:var(--tipo-secundaria) ,$size:var(--fontsize-h1), $weight:var(--fontweight-h1)){
    font-family: $family;
    font-size: $size;
    font-weight: $weight;
}

@mixin h2($family:var(--tipo-principal) ,$size:var(--fontsize-h2), $weight:var(--fontweight-h2)){
    font-family: $family;
    font-size: $size;
    font-weight: $weight;
}

@mixin h3($family:var(--tipo-principal) ,$size:var(--fontsize-h3), $weight:var(--fontweight-h3)){
    font-family: $family;
    font-size: $size;
    font-weight: $weight;
}

@mixin p($family:var(--tipo-principal) ,$size:var(--fontsize-p), $weight:var(--fontweight-p)){
    font-family: $family;
    font-size: $size;
    font-weight: $weight;
    line-height: 1.5rem;
}

@mixin h1Desktop($family:var(--tipo-secundaria) ,$size:var(--fontsize-h1Desktop), $weight:var(--fontweight-h1Desktop)){
    @media screen and (min-width:960px){
    font-family: $family;
    font-size: $size;
    font-weight: $weight;
    }
}

@mixin h2Desktop($family:var(--tipo-principal) ,$size:var(--fontsize-h2Desktop), $weight:var(--fontweight-h2Desktop)){
    @media screen and (min-width:960px){
    font-family: $family;
    font-size: $size;
    font-weight: $weight;
    }
}

@mixin h3Desktop($family:var(--tipo-principal) ,$size:var(--fontsize-h3Desktop), $weight:var(--fontweight-h3Desktop)){
    @media screen and (min-width:960px){
    font-family: $family;
    font-size: $size;
    font-weight: $weight;
    }
}
@mixin pDesktop($family:var(--tipo-principal) ,$size:var(--fontsize-pDesktop), $weight:var(--fontweight-pDesktop)){
    @media screen and (min-width:960px){
        font-family: $family;
        font-size: $size;
        font-weight: $weight;
        }
}

@mixin flex($dir,$corte,$just,$align){
    display: flex; 
    flex-flow:  $dir $corte;
    justify-content: $just;
    align-items: $align;
}

@mixin grid( $columnas, $espacio){
    display: grid; 
    grid-template-columns: repeat( $columnas, 1fr);
    gap: $espacio;
}

@mixin tablet($medida: 650px){
    @media screen and (min-width:$medida){
       @content;
    }
}

@mixin laptop($medida: 960px){
    @media screen and (min-width:$medida){
       @content;
    }
}

@mixin desktop($medida: 1280px){
    @media screen and (min-width:$medida){
       @content;
    }
}

@mixin neo($radius, $eje){
    border-redius:$radius;
    background: #e0e0e0;
    box-shadow: $eje $eje ($eje*2) #bebebe, (-$eje)(-$eje)($eje*2) #ffffff;
}

@mixin btn($text,$texthover){
    background-color: var(--yellow);
    border-radius: 4px;
    padding:0.4rem 0.6rem;
    display: inline-block;
    width:fit-content;
    @include h3;
    color:var(--darkgrey);
    &:hover{
        background-color: var(--yellowhover);
    }
    &::before{
        content:$text;
    }
    &:hover::before{
        content:$texthover;
    }
    &:hover::after{
        transform: scaleX(1);
    }
    &::after{
        
        content:"";
        border-bottom: var(--darkgrey) 1px solid;
        transform: scaleX(0.35);  
        transition: transform 350ms ease-in-out;
        transform-origin:100% 50%;
    } 
}
@mixin title(){
    @include flex(row,nowrap,center,center);
    @include h1();
        text-align: center;
        line-height: 2rem;
        letter-spacing: -0.075rem;
        margin-bottom: 3rem;
    
        &.fade-in {
            animation: fade 1.8s ease-in forwards;
            }

            &::before{
                animation: slideLeft 1.8s ease-in-out forwards;
                content:"< ";
                margin-right: 4px;
            }
            &::after{
                animation: slideRight 1.8s ease-in-out forwards;
                content:" >";
                margin-left: 4px;

            }
}