@import '../../../../sass/mixins.scss', '../../../../sass/animations.scss' ;

.contact{
    @include flex(column, nowrap, center, center);
    height: 100%;
    
    &__h1{
        @include h1();
        @include h1Desktop();
        text-align: center;
        line-height: 2rem;
        letter-spacing: -0.075rem;
        
        &.fade-in {
            animation: fade 1.8s ease-in forwards;
            }
        
    }
   
    &__h2{
        text-align: center;
        @include h2();
        margin:2.5rem 0 1rem;
    }
    
    
    &__a{ 
        margin-bottom: 2rem;
        @include btn("< HELLO@RAMONESTOL.COM >","< H3LL0@R4M0N3S70L.C0M >");
      
        &.slide-in-left {
            animation: slideLeft 1.2s ease-out forwards;
            background-color: var(--yellow);
            border-radius: 4px;
            padding:0.5rem 1rem;
        }
    }
}