<section class="contact">
                <h2 class="contact__h2 fade-in">&lt; LETS'S WORKS TOGETHER &gt;</h2>
                <div class="contact__container">
                    <div class="contact">
                        <h3 class="contact__h3">SEND ME A MESSAGE</h3>
                        <a href="mailto:hello@ramonestol.com" class="contact__a slide-in-left"></a>
                        <app-contactform></app-contactform>
                        <h3 class="contact__h3">FOLLOW ME</h3>
                        <app-socialmedia></app-socialmedia>
                    </div>
                </div>
</section>