@import '../../../../sass/mixins.scss', '../../../../sass/animations.scss' ;

.contact{
    @include flex(column, nowrap, center, center);
    height: 100%;
    
    &__h2{
        @include title();
    }
   
    &__h3{
        text-align: center;
        @include h3();
        @include h3Desktop();
        margin:2.5rem 0 1rem;
    }
    
    
    &__a{ 
        margin-bottom: 2rem;
        @include btn("< HELLO@RAMONESTOL.COM >","< H3LL0@R4M0N3S70L.C0M >");
      
        &.slide-in-left {
            animation: slideLeft 1.2s ease-out forwards;
        }
    }
}