<footer class="footer">
    <div class="footer__content">
    <section>
        <h2 class="footer__h3" aria-level="2">BUILT AND DESIGN</h2>
        <h3 class="footer__h3" aria-level="2">BY RAMON ESTOL ©2023</h3>
    </section>
    <section class="footer__div">
        <h3 class="footer__h3" aria-level="3">CODED IN VSCODE</h3>
        <h3 class="footer__h3" aria-level="3">BUILT WITH ANGULAR</h3>
        <h3 class="footer__h3" aria-level="3">TS, SASS & HTML5</h3>
    </section>
    </div>
</footer>
