<section class="about">
  <h2 class="about__h2 fade-in">MORE ABOUT ME</h2>
  <h3 class="about__h3 uppercase">
    &lt;!-- ¡Hola! Soy Ramon, un apasionado desarrollador FrontEnd que disfruta creando soluciones
    digitales funcionales, creativas y atractivas. --&gt;
  </h3>
  <p class="about__p">
    Aunque <strong>finalicé mis estudios en Desarrollo de Aplicaciones Informáticas en 2003,</strong> mi interés por el desarrollo web comenzó en <strong>2012 cuando creé mi primera web con DreamWeaver.</strong>
    Era para mi hotel en Costa Rica y contaba con motor de reservas y panel de administración. 
    Más adelante, en 2017, <strong>empecé a crear más páginas y ya no pude parar.</strong>
  </p>
  <p class="about__p">
    Ahora me siento muy orgulloso <strong>como desarrollador FrontEnd</strong> de poder ofrecer mis servicios y
    colaborar en proyectos donde pueda aportar mis conocimientos y también mi larga experiencia
    adquirida en otros sectores.
  </p>
  <p class="about__p">
    Gracias a mi <strong>capacidad autodidacta, mis estudios superiores en desarrollo de
    aplicaciones Informáticas</strong> y mi reciente formación como desarrollador web, he
    podido actualizar y mejorar mis habilidades en <strong>HTML, CSS, SCSS, JavaScript, PHP y
    MYSQL</strong>, con un enfoque especial en el framework Angular.
  </p>
  <p class="about__p">
    Además, tengo habilidades en diseño, desarrollo y administración de
    <strong>páginas web basadas en el CMS de Wordpress y construidas con diferentes Editores Visuales.</strong>
  </p>
  <h3 class="about__h3 left">¿Qué puedo ofrecerte?</h3>
  <ul class="about__ul">
    <li class="about__li slide-in-right">
      <a routerLink="/techs" class="about__a"></a>
    </li>
    <li class="about__li">
      <span class="about__span">Creatividad e innovación: </span>Siempre busco nuevas formas de abordar problemas y desarrollar soluciones creativas.
    </li>
    <li class="about__li">
      <span class="about__span">Colaboración y trabajo en equipo: </span>Me considero un buen compañero de equipo, dispuesto a aprender y aportar ideas frescas.
    </li>
    <li class="about__li">
      <span class="about__span">Compromiso con la mejora continua: </span>Estoy comprometido a seguir aprendiendo y mejorando mis habilidades técnicas. Me gusta recibir retroalimentación constructiva y buscar oportunidades para crecer profesionalmente.
    </li>
    <li class="about__li">
      <span class="about__span">Adaptabilidad y flexibilidad: </span>Como freelancer, entiendo la importancia de adaptarme a las necesidades y objetivos únicos de cada proyecto.
    </li>
    <li class="about__li">
      <span class="about__span">Habilidades adquiridas: </span>Mi trayectoria profesional anterior me brindó valiosas habilidades, como la resolución de problemas, que ahora aplico en el emocionante campo del desarrollo web. Tengo amplia experiencia en organización, gestión y trabajo en equipo.
    </li>
  </ul>
  <h3 class="about__h3 bgYellow">
    Si buscas un colaborador comprometido con una mentalidad creativa y orientada a resultados, no dudes en <br><a routerLink="/contact" class="about__a--contact slide-in-left"></a>
  </h3>
</section>