<section class="about">
  <h1 class="about__h1 fade-in">&lt; MORE ABAOUT ME &gt;</h1>
  <h3 class="about__h2 uppercase">
   <span class="about__h2--comment">"</span> Soy un apasionado desarrollador FrontEnd con experiencia como freelancer y
    administrador de páginas Wordpress, especializado en crear soluciones
    digitales creativas y atractivas. <span class="about__h2--comment">"</span> 
  </h3>
  <p class="about__p">
    <strong>Como desarrollador FrontEnd</strong>, estoy emocionado/a de ofrecer mis servicios y
    colaborar en proyectos donde poder aportar mi larga experiencia
    adquirida en otros sectores.
  </p>
  <p class="about__p">
    Gracias a mi <strong>capacidad autodidacta, mis estudios superiores en desarrollo de
    aplicaciones Informáticas</strong> y mi reciente formación como desarrollador web. He
    podido actualizar y mejorar mis habilidades en <strong>HTML, CSS, JavaScript, PHP y
    MYSQL, con un enfoque especial en el framework Angular.</strong>
  </p>
  <p class="about__p">
    Dispongo habilidades en diseño, desarrollo y administración de
    <strong>páginas web usando el CMS de Wordpress desde 2017.</strong>
    Aunque mi <strong>primera web la cree en 2012</strong> con DreamWeaver para mi hotel en Costa
    Rica, en la que incluía un motor de reservas y un panel de administración
    para la gestión de reservas.
  </p>
  <h3 class="about__h2 left">¿Qué puedo ofrerte?</h3>
  <ul class="about__ul">
    <li class="about__li slide-in-right">
      <a routerLink="/techs" class="about__a"></a
      >
    </li>
    <li class="about__li">
      <span class="about__span">Creatividad e innovación: </span>Siempre busco
      nuevas formas de abordar problemas y desarrollar soluciones creativas.
    </li>
    <li class="about__li">
      <span class="about__span">Colaboración y trabajo en equipo: </span>Me
      considero un buen compañero de equipo, dispuesto a aprender y aportar
      ideas frescas.
    </li>
    <li class="about__li">
      <span class="about__span">Compromiso con la mejora continua: </span>Estoy
      comprometido a seguir aprendiendo y mejorando mis habilidades técnicas. Me
      gusta recibir retroalimentación constructiva y buscar oportunidades para
      crecer profesionalmente.
    </li>
    <li class="about__li">
      <span class="about__span">Adaptabilidad y flexibilidad: </span>Como
      freelancer, entiendo la importancia de adaptarme a las necesidades y
      objetivos únicos de cada proyecto.
    </li>
    <li class="about__li">
      <span class="about__span">Habilidades adquiridas: </span>Mi trayectoria
      profesional anterior me brindó valiosas habilidades, como la resolución de
      problemas, que ahora aplico en el emocionante campo del desarrollo web.
      Tengo amplia experiencia en organización, gestión y trabajo en equipo.
    </li>
  </ul>
  <h3 class="about__h2 bgYellow">
    Si buscas un colaborador comprometido con una mentalidad creativa y
    orientada a resultados, no dudes en <br><a routerLink="/contact" class="about__a--contact slide-in-left"></a><br> Estoy listo para
    sumergirme en emocionantes proyectos y aportar mi pasión por el desarrollo
    web.
  </h3>
</section>
