@import '../../../../sass/mixins.scss', '../../../../sass/animations.scss' ;

.about{
    &__section{
    @include flex(column, nowrap, center, left);
    height: 100%;
    }

    &__h2{
        @include title();
    }

    &__p{
        margin-bottom:1rem;
    }

    &__h3{
        text-align: center;
        @include h3();
        @include h3Desktop;

        margin:2.5rem 0;
        text-transform: uppercase;
        &.left{
            text-align: left;
        }
        
        &.slide-in-right {
            animation: slideRight 1.2s ease-out forwards;
        }
        &--comment{
            font-size: 2rem;
            font-weight: 900;
        }
        &.bgYellow{
            background-color: var(--yellowbg);
            border-radius: 0.5rem;
            padding:1.5rem;
            @media (prefers-color-scheme: dark) {
                color    : var(--darkgrey);
            }
        }

    }

    &__span{
        @include h3();
    }

    &__li{
        list-style-type: disclosure-closed;
        margin:1rem;

        &.slide-in-right {
            animation: slideRight 1.2s ease-out forwards;
        }
    }
    
    &__a{ 
        @include btn("< MIS CONOCIMIENTOS TÉCNICOS >","< M1S C0N0C1M13N70S 73CN1C0S >");
       
        &--contact{
            @include btn("< CONTACTARME >","< C0N74C74RM3 >");
            margin: 1rem;
        }

    }
}