@import "../../../sass/mixins.scss";

.resources {
  &__guide-title {
    @include h1();
    line-height: 1.25em;
    margin-bottom: 1.5em;
    text-align: center;
  }

  &__guide-list {
    margin-bottom: 1em;
    list-style-type:circle;
    li {
      margin-bottom: 0.5em;
    }
    li::before{
      content: ">";
      display: inline-block;
      padding-right: 0.75em;
    }

  }

  &__table {
    display: block;
    width: fit-content;
    overflow: auto;
    line-break: anywhere;
    margin-top: 20px;

    thead {
      tr {
        th {
          padding: 10px;
          border: 1px solid black;
        }
      }
    }

    tbody {
      tr {
        td {
          padding: 6px 13px;
          border: 1px solid black;
        }

        &:nth-child(2n) {
          background-color: lightgray;
        }
      }
    }
  }
  &__btn {
    @include btn("DOWNLOAD EXCEL", "DOWNLO4D 3XC3L");
    padding:5px;
    min-width: 180px;
    text-align: center;
    &--csv{
      @include btn("DOWNLOAD CSV", "DOWNLO4D C5V");
      padding:5px;
      min-width: 180px;
    text-align: center;
    }
  }
  &__div{
    margin:2em auto;
    @include flex(column,nowrap,center,center);
    gap:1em;
    max-width: 25em;
  }
}
p,h2,h3{
    margin-bottom: 1.25em;
}
h2{
  @include h2();
}
h3{
  @include h3();
}
h4{
font-weight: 600;
}
