@import '../../../../sass/mixins.scss', '../../../../sass/animations.scss' ;

.techs{

    &__container{
        @include flex(row, wrap,center,center);   
        gap:2rem;
    }

    &__content{
        @include flex(column, nowrap,center,center);
        margin-bottom: 2rem;
        border:2px solid var(--yellowbg);
        border-radius: 0.5rem;
        padding: 2rem; 
        
        &:hover{background-color: var(--yellowbg);}
    }

    &__icons{
        @include flex(row, nowrap, left,center);
        gap:1.5rem;
    }
    &__h2{
        @include title();
    
        &.fade-in {
            animation: fade 1.8s ease-in forwards;
            } 
    }

    &__svg{
        max-width:4rem;
        max-height:4rem;
        display: inline-block;
    }

    &__h3{
        @include h3();
        @include h3Desktop();
        margin-bottom:1.5rem;
    }
}