<!-- caja del cursor personalizado-->
<div class="pointer" id="cursor"></div>

<div class="container">
    <div class="content">
        <header class="content__header" aria-label="logo">
            <app-header></app-header>
        </header>
        <nav class="content__navbar">        
            <app-navbar ></app-navbar>
        </nav>
        <section class="content__socialmedia">
            <app-socialmedia></app-socialmedia>
        </section>
        <main class="content__main">
            <app-main ></app-main>

        </main>
        <footer class="content__footer">
            <app-footer ></app-footer>
        </footer>       
    </div>
</div>
